# Python build files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Database
*.db

# System files
.DS_Store
Thumbs.db